body {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  overflow-wrap: break-word;
}

.sky {
  position: absolute;
  width: 50vh;
  background: #4b79a1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #283e51, #0a2342);
  background: linear-gradient(to top, #283e51, #0a2342);
  height: 100vh;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 0px;
}

.top {
  opacity: 0.7;
}

.planet-title span {
  display: none;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #06121e;
}

/* Control the right side */
.right {
  right: 0;
  background: #f7f8f7;
  animation: fadein 2s;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.intro {
  border: 5px white solid;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
  position: relative;
  display: inline-block;
  font-size: 0;
  width: 120px;
  height: 120px;
}
.intro img {
  width: 100%;
  height: auto;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
